@font-face {
  font-family:'Dosis';
  src: url("fonts/Dosis/Dosis-VariableFont_wght.ttf") format('truetype');
}
@font-face {
  font-family:'Dosis-Bold';
  src:
    local('fonts'),
    local('Dosis'),
    local('static'),
    url('Dosis-Bold.ttf');
}
@font-face {
  font-family: "Quest";
  src: url("fonts/quest/Questrial-Regular.ttf");
}

body {
  background-image:url("imgs/bannerpic.JPG");
  background-attachment: fixed;
  background-size: cover;
  background-color: grey;
  margin: 0;
  padding: 0;
}

/*----------------MENU------------------*/
#menu {
  background-color: rgba(255,255,255, 0.05);
  border-bottom: solid .8px rgba(144, 144, 144, 0.3);
  color: #484848;
  cursor: default;
  height: 4em;
  top: 0;
  width: 100%;
  font-family: "Quest", Arial;
  font-size: 1.2em;
  background-attachment: fixed;
}

#menu h1 {
opacity: 1;
color: white;
left: 3em;
position: absolute;
}
#menu h1 strong {
  border-left: solid .1em rgba(255, 144, 144, 1);
  padding: .3em;
}

#menu nav {
  font-family: "Quest", Arial;
  font-size: 1.2em;
  color: white;
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 3em;
  top: 0;
  vertical-align: middle;
}

#menu nav ul li {
  border-radius: 4px;
  display: inline-block;
  margin-left: 2.5em;
  padding-left: 0;
  color: white;
  text-decoration: none;
  font-family: "Quest", Arial;
  font-size: 1.2em;
}

#menu nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Quest", Arial;
  font-size: 1em;
}

/*------------------BANNER---------------*/
#banner {
  text-align: center;
  line-height: .5;
  padding: 9em 0 14em 0;
}

#banner h2 {
  font-family: 'Quest', Arial;
  color: white;
  display: inline-block;
  font-size: 3.5em;
}

#banner p {
  font-family: "Quest", Arial;
  color: white;
  font-size: 1.8em;
}

/*------------STRIPS----------------------*/
.container-strip {
  width: 100%;
  height: 20em;
  padding: 1em 0 1em 0;
  background-color: rgba(255, 255, 255, .96);
  border: solid 1px rgba(144, 144, 144, 1);
}

.left {
  float:left;
  width: 50%;
  height: 20em;
  border-right: solid 3px rgba(255, 144, 144, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  float: right;
  width: 49%;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-strip h2 {
  font-family: "Quest", Arial;
  font-size: 2.75em;
  line-height: 1.5;
  color: rgba(100,100,100, 1);
  position: relative;
  text-align: center;
  padding: 0 4em 0 4em;
}

.container-strip p {
  font-family: "Quest", Arial;
  font-size: 1.5em;
  color: rgba(100,100,100, 1);
  position: relative;
  text-align: center;
  padding: 0 4em 0 4em;
}

/*------------Portholes----------------*/
.container-ports {
  height: 12em;
  width: 100%;
  padding: 1em 0 0 0;
  background-color: rgba(100, 100, 100, 0.98);
  text-align: center;
}

.container-ports h2 {
  font-family: "Quest", Arial;
  font-size: 2em;
  color: white;
}

.port{
  margin: 1em 3em 0 3em;
  display: inline-grid;
}
.port img {
  border-radius: 100%;
  width: 5em;
  border: solid 1px rgba(255, 144, 144, 1);

}
